[Unit]
Description=Login run jamulus

[Service]
EnvironmentFile=/boot/jamulus.sh
ExecStart=jamulus --nogui --connect ${JAMULUS_IP} --mutemyown --clientname ${JAMULUS_CLIENT}

[Install]
WantedBy=default.target